<!DOCTYPE html>
<html>
<head th:insert="fragments/html-head :: html-head">
  <title>Home</title>
</head>
<title>Shop Directory</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}

.title {
  font-size: 600%;
}
@media (max-width:1100px) {
  .title {
    font-size: 400%;
  }
}
@media (max-width:993px) {
  .title {
    font-size: 200%;
  }
}
@media (max-width:601px) {
  .title {
    font-size: 100%;
  }
}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-top"
     style="z-index:3;width:250px;background-color:#212529;"
     id="mySidebar">
  <img style="width:50%;margin:0px auto;display:block;margin-top:50px;"
  th:src="@{/img/paylaterGoodsLogo.png}" />
  <div class="w3-container w3-display-container w3-padding-16 w3-margin">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
  </div>
  <div class="w3-padding-64 w3-large w3-margin" style="margin:0px auto;font-weight:bold;color:#FCA311;">
    <a href="/search?query=Shirts" class="w3-bar-item w3-button w3-center">Shirts</a>
    <a href="/search?query=Dresses" class="w3-bar-item w3-button w3-center">Dresses</a>
    <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-bar-item w3-button w3-center">
      Jeans <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="/search?query=Skinny+Jeans" class="w3-bar-item w3-button w3-center">Skinny</a>
      <a href="/search?query=Relaxed+Jeans" class="w3-bar-item w3-button w3-center">Relaxed</a>
      <a href="/search?query=Bootcut+Jeans" class="w3-bar-item w3-button w3-center">Bootcut</a>
      <a href="/search?query=Straight+Jeans" class="w3-bar-item w3-button w3-center">Straight</a>
    </div>
    <a href="/search?query=Jackets" class="w3-bar-item w3-button w3-center">Jackets</a>
    <a href="/search?query=Gymwear" class="w3-bar-item w3-button w3-center">Gymwear</a>
    <a href="/search?query=Blazers" class="w3-bar-item w3-button w3-center">Blazers</a>
    <a href="/search?query=Shoes" class="w3-bar-item w3-button w3-center">Shoes</a>
  </div>
  <div class="w3-padding-16 w3-large w3-margin" style="margin:0px auto;font-weight:bold;color:#FCA311;">
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-center"
       onclick="document.getElementById('subscribeFormContainer').style.display='block'">Newsletter</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-center"
       onclick="document.getElementById('footerContainer').style.display='block'">Contact</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide"><img style="max-width:50px"
                                                      th:src="@{/img/paylaterGoodsLogo.png}" /></div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Top header -->
  <div class="w3-padding-small" style="background-color:#012A4A;">
    <header class="w3-container w3-xlarge w3-margin">
      <h1 class="w3-center title" style="color:#E5E5E5;">Shop Directory</h1>
    </header>
  </div>

  <!-- Image header -->
<!--  <div class="w3-display-container w3-container">-->
<!--    <img src="/w3images/jeans.jpg" alt="Jeans" style="width:100%">-->
<!--    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">-->
<!--      <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>-->
<!--      <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>-->
<!--      <h1 class="w3-hide-small">COLLECTION 2016</h1>-->
<!--      <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Search Bar -->
  <div style="width:75%;margin: 0px auto;max-width: 500px;" class="w3-container w3-padding-64"
       th:insert="fragments/searchBar :: searchBar">
  </div>

  <!-- Subscribe section -->
  <div th:insert="fragments/subscribe :: subscribe">
  </div>

  <!-- Footer -->
  <div th:insert="fragments/footer :: footer">
  </div>

  <!-- End page content -->
</div>

<script>
// Accordion
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
