<!DOCTYPE html>
<html>
<head th:insert="fragments/html-head :: html-head">
  <title>Search Results</title>
</head>
<title>Shop Directory</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid black;
  background: #cc0000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  transition-delay: 0.5s;
}

</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-black w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>LOGO</b></h3>
  </div>
  <div class="w3-container w3-display-container w3-padding-16" style="margin-top:100px">
    <h4>Accepts</h4>
    <form onsubmit="removePageNum()">
      <div th:if="${bnplFiltersSelected.size() == 0}">
        <p th:each="bnplFilter : ${bnplFilters}">
          <input class="w3-check" type="checkbox" name="bnplFiltersSelected" th:value="${bnplFilter.bnplUuid}">
          <label class="w3-padding-small" th:text="${bnplFilter.bnplName}">BnplName</label>
        </p>
        <button type="submit" class="w3-button w3-black">Filter</button>
      </div>
      <div th:unless="${bnplFiltersSelected.size() == 0}">
        <p th:each="bnplFilter : ${bnplFiltersSelected}">
          <input class="w3-check" type="checkbox" name="bnplFiltersSelected"
                 th:value="${bnplFilter.bnplUuid}" checked>
          <label class="w3-padding-small" th:text="${bnplFilter.bnplName}">BnplName</label>
        </p>
        <button type="button" onclick="resetBnplFilters()"
                class="w3-button w3-black">Reset</button>
      </div>
    </form>
  </div>
  <div class="w3-container w3-display-container w3-padding-16">
    <h4>Brands</h4>
    <form onsubmit="removePageNum()">
      <div th:if="${merchantFiltersSelected.size() == 0}">
        <div th:if="${merchantFilters.size() < 5}">
          <p th:each="merchantFilter : ${merchantFilters}">
            <input class="w3-check" type="checkbox" name="merchantFiltersSelected"
                   th:value="${merchantFilter.merchantUuid}">
            <label class="w3-padding-small" th:text="${merchantFilter.merchantName}">MerchantName
            </label>
          </p>
        </div>
        <div th:unless="${merchantFilters.size() < 5}">
          <p th:each="merchantFilter, iterStat : ${merchantFilters}"
             th:if="${iterStat.index < 5}">
            <input class="w3-check" type="checkbox" name="merchantFiltersSelected"
                   th:value="${merchantFilter.merchantUuid}">
            <label class="w3-padding-small" th:text="${merchantFilter.merchantName}">MerchantName
            </label>
          </p>
          <a href="javascript:void(0)" class="w3-bar-item"
             onclick="document.getElementById('brandsFilter').style.display='block'">See All</a>
        </div>
        <button type="submit" class="w3-button w3-black">Filter</button>
      </div>
      <div th:unless="${merchantFiltersSelected.size() == 0}">
        <p th:each="merchantFilter : ${merchantFiltersSelected}">
          <input class="w3-check" type="checkbox" name="merchantFiltersSelected"
                 th:value="${merchantFilter.merchantUuid}" checked>
          <label class="w3-padding-small" th:text="${merchantFilter.merchantName}">MerchantName
          </label>
        </p>
        <button type="button" onclick="resetMerchantFilters()"
                class="w3-button w3-black">Reset</button>
      </div>
    </form>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Top header -->
  <div th:insert="fragments/topHeader :: topHeader">
  </div>

  <!-- Image header -->
  <!--  <div class="w3-display-container w3-container">-->
  <!--    <img src="/w3images/jeans.jpg" alt="Jeans" style="width:100%">-->
  <!--    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">-->
  <!--      <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>-->
  <!--      <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>-->
  <!--      <h1 class="w3-hide-small">COLLECTION 2016</h1>-->
  <!--      <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>-->
  <!--    </div>-->
  <!--  </div>-->

  <!-- Search and Product grid -->
  <div class="w3-container w3-padding-64"
       style="max-width:1200px;margin: 0px auto;" th:insert="fragments/searchBarProductGrid :: searchBarProductGrid">
  </div>

  <!-- Subscribe section -->
  <div th:insert="fragments/subscribe :: subscribe">
  </div>

  <!-- Footer -->
  <div th:insert="fragments/footer :: footer">
  </div>

  <!-- End page content -->
</div>

<!-- Brands Filter Modal -->
<div id="brandsFilter" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white">
      <p class="w3-right">
        <a href="javascript:void(0)" onclick="document.getElementById('brandsFilter').style.display='none'"><i
            class="fa fa-remove"></i></a>
      </p>
      <h4>Brands</h4>
      <form>
        <div th:if="${merchantFiltersSelected.size() == 0}">
          <p th:each="merchantFilter : ${merchantFilters}">
            <input class="w3-check" type="checkbox" name="merchantFiltersSelected"
                   th:value="${merchantFilter.merchantUuid}">
            <label class="w3-padding-small" th:text="${merchantFilter.merchantName}">MerchantName
            </label>
          </p>
          <button type="submit" class="w3-button w3-black">Filter</button>
        </div>
        <div th:unless="${merchantFiltersSelected.size() == 0}">
          <p th:each="merchantFilter : ${merchantFiltersSelected}">
            <input class="w3-check" type="checkbox" name="merchantFiltersSelected"
                   th:value="${merchantFilter.merchantUuid}" checked>
            <label class="w3-padding-small" th:text="${merchantFilter.merchantName}">MerchantName
            </label>
          </p>
          <button type="button" onclick="resetMerchantFilters()"
                  class="w3-button w3-black">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
// Accordion
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

function removeURLParameter(url, parameter) {
    //prefer to use l.search if you have a location/link object
    var urlparts = url.split('?');
    if (urlparts.length >= 2) {

        var prefix = encodeURIComponent(parameter) + '=';
        var pars = urlparts[1].split(/[&;]/g);

        //reverse iteration as may be destructive
        for (var i = pars.length; i-- > 0;) {
            //idiom for string.startsWith
            if (pars[i].lastIndexOf(prefix, 0) !== -1) {
                pars.splice(i, 1);
            }
        }

        return urlparts[0] + (pars.length > 0 ? '?' + pars.join('&') : '');
    }
    return url;
}

function removePageNum() {
  history.pushState({}, null, removeURLParameter(document.URL, 'page'));
  return true;
}

function resetBnplFilters() {
  filterRemoved = removeURLParameter(document.URL, 'bnplFiltersSelected');
  pageRemoved = removeURLParameter(filterRemoved, 'page');
  window.location.replace(pageRemoved);
}

function resetMerchantFilters() {
  filterRemoved = removeURLParameter(document.URL, 'merchantFiltersSelected');
  pageRemoved = removeURLParameter(filterRemoved, 'page');
  window.location.replace(pageRemoved);
}

function navigateToPage(pageNum) {
  var url = new URL(document.URL);
  var search_params = url.searchParams;
  search_params.set('page', pageNum);

  // change the search property of the main url
  url.search = search_params.toString();

  // the new url string
  var new_url = url.toString();
  window.location.replace(new_url);
}

</script>

</body>
</html>
