<!DOCTYPE html>
<html lang="${lang}"
      th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="accessoryCategories">
  <a href="/category/masks">Face Masks</a>
  <a href="/category/hats">Hats</a>
  <a href="/category/jewelry">Jewelry</a>
  <a href="/category/sunglasses">Sunglasses</a>
  <a href="/category/belts">Belts</a>
  <a href="/category/beauty">Beauty</a>
  <a href="/category/bags">Bags</a>
  <a href="/category/hair">Hair</a>
  <a href="/category/nails">Nails</a>
  <a href="/category/lips">Lips</a>
</div>