<!DOCTYPE html>
<html lang="${lang}"
      th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bnplFilter">
  <script>
    function removePageNum() {
      history.pushState({}, null, removeURLParameter(document.URL, 'page'));
      return true;
    }

    function resetBnplFilters() {
      filterRemoved = removeURLParameter(document.URL, 'bnplFiltersSelected');
      pageRemoved = removeURLParameter(filterRemoved, 'page');
      window.location.replace(pageRemoved);
    }
  </script>

  <h4>Accepts</h4>
  <form onsubmit="removePageNum()">
    <div th:if="${bnplFiltersSelected.size() == 0}">
      <p th:each="bnplFilter : ${bnplFilters}">
        <input class="check" type="checkbox" name="bnplFiltersSelected" th:value="${bnplFilter.bnplUuid}">
        <label th:text="${bnplFilter.bnplName}">BnplName</label>
      </p>
      <button type="submit" class="w3-button w3-black">Filter</button>
    </div>
    <div th:unless="${bnplFiltersSelected.size() == 0}">
      <p th:each="bnplFilter : ${bnplFiltersSelected}">
        <input class="check" type="checkbox" name="bnplFiltersSelected"
               th:value="${bnplFilter.bnplUuid}" checked>
        <label class="w3-margin-left" th:text="${bnplFilter.bnplName}">BnplName</label>
      </p>
      <button type="button" onclick="resetBnplFilters()" class="w3-button w3-black">Reset</button>
    </div>
  </form>
</div>