<!DOCTYPE html>
<html lang="${lang}"
      th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="clothingCategories">
  <a href="/category/tops">Tops</a>
  <a href="/category/bottoms">Bottoms</a>
  <a href="/category/shorts">Shorts</a>
  <a href="/category/dresses">Dresses</a>
  <a href="/category/jeans">Jeans</a>
  <a href="/category/jackets">Jackets</a>
  <a href="/category/socks">Socks</a>
  <a href="/category/outwear">Outwear</a>
  <a href="/category/sweaters">Sweaters</a>
  <a href="/category/loungewear">Loungewear</a>
  <a href="/category/skirts">Skirts</a>
  <a href="/category/swim">Swimwear</a>
  <a href="/category/shirts">Shirts</a>
  <a href="/category/t-shirts">T-Shirts</a>
  <a href="/category/jumpsuits">Jumpsuits</a>
  <a href="/category/leggings">Leggings</a>
</div>