<!DOCTYPE html>
<html lang="${lang}"
      th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="topHeader">
  <style>
    .topHeaderContainer {
      text-align:center;
      width:100%;
      height: 80px;
    }
    .logoItem {
      margin:1px;
      width:20%;
      text-align:left;
      display:inline-block;
    }
    .searchItem {
      margin:1px;
      width:50%;
      text-align:left;
      display:inline-block;
    }
  </style>
  <div class="topHeaderContainer">
    <!-- Logo -->
    <div class="logoItem">
      <img style="width:90%; max-height:80px;" th:src="@{/img/paylaterGoodsHeader.png}"/>
    </div>

    <!-- Search Bar -->
    <div class="searchItem" th:insert="fragments/searchBar :: searchBar">
    </div>
  </div>
</div>