<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/html-head :: html-head">
</head>
<body>
<h1>Products</h1>
<turbo-frame id="products_frame">
<!--  <table>-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th> Id </th>-->
<!--        <th> Name </th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr th:if="${products.empty}">-->
<!--        <td colspan="2"> No Products Found </td>-->
<!--      </tr>-->
<!--      <tr th:each="product : ${products}">-->
<!--        <td><span th:text="${product.uuid}"> Id </span></td>-->
<!--        <td><span th:text="${product.name}"> Name </span></td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
  <div class="w3-container w3-text-grey" id="jeans">
    <p>8 items</p>
  </div>
  <div class="w3-row w3-grayscale">
    <div class="w3-col l3 s6">
      <div th:each="index : ${#numbers.sequence(0, products.size(), 4)}"
           th:if="${index < products.size()}" class="w3-container">
        <img th:src="${products.get(index).mainImageUrl}" style="width:100%">
        <p th:text="${products.get(index).name}">Ripped Skinny Jeans<br><span
            th:text="${products.get(index).currentPriceLowerRange}">
        <b>$24.99</b></span></p>
      </div>
    </div>
    <div class="w3-col l3 s6">
      <div th:each="index : ${#numbers.sequence(1, products.size(), 4)}"
           th:if="${index < products.size()}" class="w3-container">
        <img th:src="${products.get(index).mainImageUrl}" style="width:100%">
        <p th:text="${products.get(index).name}">Ripped Skinny Jeans<br><span
            th:text="${products.get(index).currentPriceLowerRange}">
        <b>$24.99</b></span></p>
      </div>
    </div>
    <div class="w3-col l3 s6">
      <div th:each="index : ${#numbers.sequence(2, products.size(), 4)}"
           th:if="${index < products.size()}" class="w3-container">
        <img th:src="${products.get(index).mainImageUrl}" style="width:100%">
        <p th:text="${products.get(index).name}">Ripped Skinny Jeans<br><span
            th:text="${products.get(index).currentPriceLowerRange}">
        <b>$24.99</b></span></p>
      </div>
    </div>
    <div class="w3-col l3 s6">
      <div th:each="index : ${#numbers.sequence(3, products.size(), 4)}"
           th:if="${index < products.size()}" class="w3-container">
        <img th:src="${products.get(index).mainImageUrl}" style="width:100%">
        <p th:text="${products.get(index).name}">Ripped Skinny Jeans<br><span
            th:text="${products.get(index).currentPriceLowerRange}">
        <b>$24.99</b></span></p>
      </div>
    </div>
  </div>
</turbo-frame>
</body>
</html>
